Function/adm_service_rest/src/main/resources/windows.properties
######################
# Directories
######################
/build/
/bin/
target/
/logs/
 
######################
# OS Files
######################
.DS_Store

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# IntelliJ
######################
.idea
*.iml

######################
# Git
######################
.gitignore
